<div class="section clear">
    <div class="parallax-container">
        <div class="parallax">
            <img src="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/NGTYhyRhgilq4uu1a/seamless-3d-animation-sea-wave-and-ripple-on-the-seaside-shore-beach-at-night-with-sparkling-stars-and-moon-glowing-in-4k-ultra-hd_sptw5sdk__F0005.png">
        </div>
    </div>
</div>